body{
	background-color:white;

	font:normal 12px Verdana, Impact;

	line-height:1.2em;
	margin:0;
}


.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.button{
	background-color:#333;
	color#fff;
	padding:10px 15px;
	border:none;
}


#navbar{
	background-color:red;
	color:fff;
	height:40px
}
#navbar ul{
	padding:1em;
	list-style:none;
}
#navbar li{
	display:inline;
}
#navbar a{
	color:#000;
	text-decoration:none;
	font-size:24px;
	padding-right:40px;
}


.title{
	margin:20px;
	text-align:left;
}

.box-1{
	background-color:purple;
	color:yellow;

	border: 5px yellow dashed;

	padding:10px;

	margin:80px 0;
}

.box-1 p{
	font-family:Tahoma;
	font-weight:800;
	font-style:bold;
	letter-spacing:0.2em;
	word-spacing: 1em;
}


.Boxers{
	border:2px #ccc solid;
	padding:10px;
	border-radius:15px;
}

.Boxers h1{
	text-align:center;
}

.Boxers ol{
	list-style:square;
}
.container2{
	position: relative;
	left:1150px;
	margin-top: 10px;
	width: 250px;
	height: 220px;
	background: #dedede;
	border-radius: 5px;
}
.label{
	padding: 6px 2px;
	font-size: 23px;
	font-weight: bold;
	color: #130f40;
}

#main-footer{
	background-color:red;
	color:#000;
	text-align:center;
	padding:20px
	margin-top:40px;
}

@media(max-width:600px){
	#main{
	    width:100%
	    float:none;
	}
}
